.topic {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.side-bar__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-bar__info-name {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  .side-bar__info-name span{
    font-size: 12px;
  }
}

.search-input {
  width: 800px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgb(141, 141, 141);
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}

/* @media screen and (max-width: 800px) {
  .search-input {
    width: 100px;
  height: 40px;
  }
} */

.search-input:focus {
  border: 1px solid #0c0f66;
}

.account-setting {
  width: 250px;
  background-color: #fff;
  position: fixed;
  top: 65px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.good-idea {
  width: 100%;
  height: 310px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 1000px) {
  .good-idea__name {
    font-size:10px;
  }
  
  .good-idea__title{
    font-size:10px;
  }

  .good-idea__detail {
    font-size:10px;
  }
}

.good-idea__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  transition: 0.4s;
  transition-delay: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.good-idea__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}

.good-idea__name {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  color: #333;
  text-align: left;
}

.good-idea__title {
  font-size: 16px;
  color: rgb(143, 142, 142);
  padding-left: 10px;
  text-align: left;
}

.good-idea__detail {
  font-size: 14px;
  padding: 0px 10px;
  text-align: left;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.good-idea__document {
  margin: 10px 0 0;
  padding-left: 10px;
}

.good-idea__like-count {
  padding: 5px;
  width: 100px;
  background-color: #4991df;
  margin: 10px auto 0;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.home-swiper {
  border-radius: 10px;
}

.control {
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 0;
}

.post {
  padding: 10px 20px 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid #fff  ;
}

.post:hover {
  border: 1px solid rgb(199, 196, 196);
}

.home-idea__comment {
  display: flex;
  justify-content: center;
}

.change-password__container {
  width: 60%;
  background-color: #fff;
  margin: 20px auto 0;
  padding:20px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .change-password__container {
    margin-top: 150px;
    width: 80%;
  }
}

.change-password__container h1 {
  width: 50%;
  text-align: center;
  color: #0c0f66;
}

.change-password__container form {
  width: 50%;
}

