.topic {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.topic-list__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-bar__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-bar__info-name {
  display: flex;
  align-items: center;
}

.search-input {
  width: 800px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgb(141, 141, 141);
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}

.search-input:focus {
  border: 1px solid #0c0f66;
}

.account-setting {
  width: 250px;
  background-color: #fff;
  position: fixed;
  top: 65px;
  right: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
