.idea-form {
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.idea-form__title {
  font-weight: bold;
  text-align: center;
}

.idea-form__post {
  text-align: right;
}

.modal-button {
  display: flex;
  justify-content: space-between;
}
