body {
  background-color: #dae0e6;
  margin: 0;
  padding: 0;
}

.pagination {
  width: 100%;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-item {
  list-style: none;
  margin: 2px;
  outline: none;
}

.pagination-item a {
  text-decoration: none;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #1976d2;
}

.pagination-item a:hover {
  background-color: rgb(238, 235, 235);
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.swiper-pagination {
  z-index: 2;
  position: absolute;
  top: 270px;
  left: 0;
}

